@keyframes toast-item-fadein {
  from {
    right: -120%;
    opacity: 0;
  }
  
  to {
    right: 0%;
    opacity: 1;
  }
}

@keyframes toast-item-fadeout {
  from {
    right: 0%;
    opacity: 1;
  }

  to {
    right: -120%;
    opacity: 0
  }
}

.toast-info {
  background: #ebf8ff;
  color: #3172b7;
}

.toast-success {
  background: #e6fffa;
  color: #2e656a;
}

.toast-error {
  background: #fddede;
  color: #c53030;
}

.toast-container {
  width: 360px;

  position: relative;
  padding: 16px 30px 16px 16px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

  display: flex;

  animation: toast-item-fadein 1s, toast-item-fadeout 1s 4s;
}

.toast-container + div {
  margin-top: 8px;
}

.toast-container > svg {
  margin: 4px 12px 0 0;
}

.toast-container div {
  flex: 1;
}

.toast-container div p {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 20px;
}

.toast-container button {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 1rem;
  top: 1.1875rem;
  opacity: 0.6;
  border: 0ch;
  background: transparent;
  color: inherit;
  transition: filter 0.2s;
}

.toast-container button:hover {
  filter: brightness(0);
  background-color: transparent;
}

.toast-with-description {
  align-items: center;
}

.toast-with-description svg {
  margin-top: 0;
}

