.app-tooltip-container {
  position: relative;
}

.app-tooltip-container span {
  width: 160px;
  background: var(--gray-50);
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.4s;
  visibility: hidden;
  
  position: absolute;
  bottom: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
  
  color: #333;
}

.app-tooltip-container span::before {
  content: '';
  border-style: solid;
  border-color: var(--gray-150) transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  top: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.app-tooltip-container:hover span {
  opacity: 1;
  visibility: visible;
}